.carrito-conteiner {
    width: 90%; 
    margin: auto;
    margin-top: 30px;
    
}

.table-carrito {
    margin-top: 10px;
    width: 90%;

}

table tr th {
    border: 2px solid grey;
    color: white;
    background-color: #000e12;
    padding: 5px;
    text-align: center;
}

td {
    border: 1px solid grey;
    text-align: center;
    padding: 10px;
}

.total {
    color: white;
    background-color: #000e12;
}

.boton-accion {
    color: white;
    background-color: #000e12;
    padding: 8px;
    border-radius: 10px;
}