header {
    width: 100%;
    /* background-color: #000e12; */
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 200px;
    font-weight: bold;
    background-image: url('../img/waves1.svg');
    background-position: center  ;
    background-size: 100%;
   
}

/* logo */

.link-logo{
    width: 12%;
    margin-left: 4%;
  
}
.header-logo{
    width: 100%;
    border-radius: 5px;  
    
}

/* nav */

nav {
    width: 35%;
    
    margin: auto;
    margin-left: 20px; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 16px;
    
}    

nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    margin: auto;
    background-color: #000e12;
    border-radius: 8px;
    
}

nav ul li{
    list-style: none;
    margin-left: 3%;    
    padding: 10px;
    border-radius: 5px;
    
}

.link {
    text-decoration: none;
    color: inherit;
}




/* usuario */

.contenedor-search-bar{
    position: relative;
    width: 15%;
    margin: auto;
    margin-top: 5px;
    margin-left: 0px;   
    
}
.buscador-form {
    margin: auto;
    width: 100%;
    padding: 5px;
}

.buscador-input{
    width:75%;
    margin-top: 0px;
    height: 20px;
    border: none;  
}

.buscador-button {
    background-color: #000e12;
}
.lupa{
    color: white; 
    background-color: #000e12; 
   
    font-size: 13px;
    border: none;
}

/* login carrito */

.contenedor-carrito{
    width: 15%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin: auto;
    margin-right: -180px;
   /*  margin-left: ; */
    background-color: #000e12;
  
       
}


.estilo-carrito{
    color: white;
    font-size: 22px;

}
.cantidad {
    color: white;
    font-size: 12px;
    position: relative;
    margin-left: 25px ;
    margin-top: -31px;
}
.estilo-usuario{
    color: white;
    font-size: 22px;
}

.estilo-perfil-usuario {
    color: white;
    margin-right: 2%;
}
.bienvenida-navbar {
    font-size: 13px;
}

.vista-admin{
    position: relative;
    color: #000e12;
    margin-left: -150px;
    margin-top: 155px;
    margin-right: 5px;
    
}

.vista-admin-link {
    color: #000e12;
}


