header {
    width: 100%;
    /* background-color: #000e12; */
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 200px;
    font-weight: bold;
    background-image: url('../img/1117.jpg');
    background-position: center;
    background-size: 1500px;
}

/* logo */

.link-logo{
    width: 30%;
}
.header-logo{
    width: 40%;
    margin-left: 15%;
    border-radius: 5px;   
}

/* nav */

nav {
    width: 25%;
    margin-left: -160px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}    

nav ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; 
    justify-content: space-around;
    margin: auto;
    background-color: black;
    border-radius: 10px;
    
}

nav ul li{
    list-style: none;
    margin-left: 2%;    
  
    padding: 10px;
    border-radius: 5px;
    
}

.link {
    text-decoration: none;
    color: inherit;
}

.link:hover {
    text-decoration: none;
    border-bottom: 2px solid white;
   
}


/* usuario */



/* login carrito */

.contenedor-carrito{
    width: 15%;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-right: 10%;
    background-color: black;
    
}

.bienvenida-usuario{
    margin: auto;
    font-size: inherit;
   
}

.estilo-carrito{
    color: white;
    font-size: 30px;

}
.estilo-usuario{
    color: white;
    font-size: 30px;
}



